{{#each albums}}
<div class="margin-top-3">
    <img src="{{this.album.images.1.url}}" class="img-rounded" />
    <div class="margin-top-1">
        <a href="/album/{{this.album.id}}">
            <h2>
                <strong>{{this.album.name}}</strong>
            </h2>
        </a>
    </div>
</div>
{{> tracklist}}
{{/each}}