<div>
    <h4 class="panel-title">{{featuredPlaylistsTitle}}</h4>
    <div class="float-right">
        <i onclick="scrollPanelLeft('#featured-playlists')" class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
        <i onclick="scrollPanelRight('#featured-playlists')" class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
    </div>
</div>
<section class="container row panel-container" id="featured-playlists">
    {{#each featuredPlaylistItems}}
    <section id="col-sm media-content">
        <img class="media-object img-rounded album-cover" width="150" height="150" src="{{this.images.0.url}}" />
        <div class="album-data">
            {{this.name}}
        </div>
    </section>
    {{/each}}
</section>