<div class="container-fluid related-artists-container margin-top-1">
    <h5>
        <strong>Related Artists</strong>
    </h5>
    {{#each relatedArtists.artists}}
    <div class="margin-top-1">
        <img src="{{this.images.2.url}}" class="img-rounded image-thumbnail" />
        <a href="/artist/{{this.id}}" class="link padding-left-10">{{this.name}}</a>
    </div>
    {{/each}}
</div>