<div>
    <h4 class="panel-title">{{topArtistsTitle}}</h4>
    <div class="selectors">
        <i onclick="scrollPanelLeft('#top-artists')" class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
        <i onclick="scrollPanelRight('#top-artists')" class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
    </div>
</div>
<section class="container row panel-container" id="top-artists">
    {{#each topArtistItems}}
    <section id="col-sm media-content">
        <img class="media-object album-cover" width="150" height="150" src="{{this.images.1.url}}" />
        <div class="album-data">
            {{this.name}}
        </div>
    </section>
    {{/each}}
</section>