<div class="container track-panel">
    <div class="row track">
        <div class="w-25 col-lg-1 col-xl-1">
            <p>#</p>
        </div>
        <div class="w-25 col-lg-9 col-xl-9">
            <p>title</p>
        </div>
        <div class="w-50 col-lg-2 col-xl-2">
            <p class="float-right">duration</p>
        </div>
    </div>
    {{#each tracks.items}}
    <div class="row track track-entry">
        <div class="w-25 col-sm-2 col-lg-1 col-xl-1">
            {{this.track_number}}
        </div>
        <div class="w-50 col-sm-8 col-lg-9 col-xl-9">
            {{this.name}}
        </div>
        <div class="w-25 col-sm-2 col-lg-2 col-xl-2">
            <span class="float-right">{{this.duration_ms}}ms</span>
        </div>
    </div>
    {{/each}}
    {{#if copyright}}
    <div class="track-panel">
        <p>{{copyright}}</p>
    </div>
    {{/if}}
</div>