<div class="container-fluid home-panel">
    <div class="container artist-info-panel">
        <div class="row">
            <h2>
                <strong>{{artistName}}</strong>
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-10 col-xl-8">
                <img src="{{artistBackgroundImage}}" class="justify-center responsive-image img-rounded"/>
            </div>
            <div class="col-sm-12 col-xl-4">
                <div class="">
                    {{> related-artists}}
                </div>
            </div>
        </div>
        <div class="row margin-top-3">
            <div class="col">
                {{> top-tracks-list}}
            </div>
        </div>
    </div>
</div>