<div class="container-fluid home-panel">
    <div class="container">
        {{> recently-played}}
    </div>
</div>

<div class="container-fluid home-panel">
    <div class="container">
        {{> top-artists}}
    </div>
</div>

<div class="container-fluid home-panel">
    <div class="container">
        {{> new-releases}}
    </div>
</div>

<div class="container-fluid home-panel">
    <div class="container">
        {{> featured-playlists}}
    </div>
</div>


{{!-- <script id="user-name-template" type="text/x-handlebars-template">
    <a class="navbar-brand" href="#">hello-{{display_name}}</a>
</script>
--!}}