<div class="container-fluid" id="landing-text">
    <div class="container landing-text-container">
        <h1 class="landing-text"><strong>basic-music-player:</strong></h1>
        <h2 class="landing-text">listen to spotify</h2>
        <h2 class="landing-text">with vanilla JS</h2>
    </div>
</div>