:root {
  --main-bg-color: #DAD9C7;
  --font-color: #40404C;
  --panel-color: #7A8392;
}

body {
  scroll-behavior: smooth;
  background: var(--main-bg-color);
}

a {
  color: var(--font-color);
}

.navbar {
  background: var(--main-bg-color) !important;
}

.navbar-brand {
  color: var(--font-color) !important;
}

.btn-primary {
  background: #D48F81 !important;
  color: #303C52;
  box-shadow: 2px 1px 6px #888888;
  border-radius: 20px;
  border-color: #000000;
}

.landing-text {
  color: var(--font-color);
  font-size: 3vw;
}

.landing-text-container {
  margin-top: 4vh;
  margin-left: 24vw;
}


#login,
#loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-panel {
  background: var(--panel-color);
  color: var(--font-color);
  box-shadow: 0 4px 2px -2px;
  padding-bottom: 10px;
  margin-top: 6vh;
}

.album-cover {
  margin-top: 2vh;
  margin-right: 1.21vw;
}

.album-image,
.album-cover,
.artist-image {
  border-radius: 5px;
  height: 640px;
  width: 640px;
}

.artist-image {
  justify-content: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.padding-left-10 {
  padding-left: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image-thumbnail {
  height: 50px;
  width: 50px;
}

.margin-top-1 {
  margin-top: 1vh;
}

.margin-top-3 {
  margin-top: 4vh;
}

.margin-top-point-1 {
  margin-top: .1vh;
}

.margin-top-1-point-3 {
  margin-top: 1.3vh;
}

.album-data {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  max-width: 10vw;
}

.panel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.panel-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.panel-container::-webkit-scrollbar {
  display: none;
}

.panel-title {
  margin-left: -.7vw;
  padding-top: 1.8vh;
}

@media only screen and (min-width: 360px) and (max-width: 375px) {

  .album-cover {
    margin-right: 5vw;
  }

  .album-data {
    max-width: 43vw;
  }

  .related-artists-container {
    margin-top: 1vh;
  }
}

@media only screen and (min-width: 414px) {

  .album-cover {
    margin-right: 5vw;
  }

  .album-data {
    max-width: 35vw;
  }
}

@media only screen and (min-width: 600px) {
  .album-data {
    max-width: 40vw;
  }
}

@media only screen and (min-width: 768px) {
  .album-data {
    max-width: 19vw;
  }
}

@media only screen and (min-width: 1200px) {
  .album-data {
    max-width: 8vw;
  }
}

.album-info-panel,
.artist-info-panel {
  padding-top: 12vh;
}

.album-info,
.artist-info {
  padding-left: 1rem;
}

.track-panel {
  margin-top: 2vh;
}

.track {
  border-style: solid;
  border-color: var(--font-color);
  border-width: 0 0 1px 0;
}

.track-entry {
  padding-bottom: .25rem;
  padding-top: .25rem;
}

.not-active {
  pointer-events: none;
  cursor: default;
  color: #808080 !important;
}