
:root {
  --main-bg-color:  #92665d;
  --font-color: #40404C;
}

body{
  background: var(--main-bg-color);
}

.navbar {
  background: var(--main-bg-color) !important;
}

.navbar-brand, .navigation-links {
  color: var(--font-color) !important;
}

.navigation-link {
  color: var(--font-color) !important;
  margin-right: .4vw;
}

.btn-primary {
  background: #854254 !important;
}

.landing-text {
  color: var(--font-color);  
  font-size: 3vw;
}


#login, #loggedin {
    display: none;
  }
  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .login-button {
      float: right;
  }

  .profile-picture {
    float: right;
    width: 30;
    height: 30;
  }